html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------- END CSS RESET ---------- */


/* ----------START MOBILE  ---------- */
	body {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		/*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
		background-color:#fff;
		}
	header {
		width:100%;
		padding:6px;
    padding-top: 5px;
    padding-bottom: 1px;
		left:0px;
		bottom:0px;
    position: fixed;
    z-index: 15;
	}
	footer {
		position: fixed;
		background-color:rgba(255, 255, 255, 1);
		bottom:0;
		z-index:10;
		width:100%;
		padding:4px;
	}
	footer .fav img {
		width:30px;
		height:auto;
	}
	footer .carticon img,
	.swiper-slide img.carticon {
		width:30px;
		height:auto;
	}
	.addtocart {
		position:fixed;
		background-color:rgba(255, 255, 255, 100);
		bottom: 0px;
		width:100px;
		padding:7px 10px 5px 10px;
		z-index: 1000;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
	}
	.cart.on,
	.heartme.on {
    -webkit-animation: cartbtnFade 0.6s 0.1s 1 linear alternate;
    -moz-animation: cartbtnFade 0.6s 0.1s 1 linear alternate;
    -ms-animation: cartbtnFade 0.6s 0.1s 1 linear alternate;
    -o-animation: cartbtnFade 0.6s 0.1s 1 linear alternate;
    animation: cartbtnFade 0.6s 0.1s 1 linear alternate;
	}
	.addtocart img.carticon {
		width:45px;
		height:auto;
	}
	.starbar img.fav {
		width:25px;
		height:auto;
	}
	.addtocart img.fav {
		width:25px;
		height:auto;
		margin-right:15px;
	}
	.starbar {
		position:fixed;
		background-color:rgba(220, 245, 11, 0.60);
		bottom: 0px;
		left:0px;
		width:40px;
		padding:10px;
		z-index: 10;
	}
	footer .floatright {
		float:right;
		width:20%;
		text-align:right;
		padding-right: 20px;
	}
	.swiper-slide img.carticon {

	}
	header.on {
		left:56%;
	}
	header #logo {
		position:relative;
		margin:5px auto 0px;
	}
	header #logo img {
		height: auto;
    width: 120px;
	}
	header .cart img {
		height:auto;
		width:30px;
	}
	header .floatleft:nth-of-type(1)  {
		float: left;
		width: 15%;
		text-align: left;
	}
	header .floatleft:nth-of-type(2) {
		float: left;
		width: 68%;
	}
	header .cart {
		position: absolute;
		top: 7px;
    right: 10px;
	}
	.clearfloats {
		clear:both;
	}
	header .nav-icon span:nth-of-type(1) {
	  top: 0px;
	}
	header .nav-icon span:nth-of-type(2) {
	  top: 7px;
	}
	header .nav-icon span:nth-of-type(2).on {
    width: 140%;
    left:0px;
	}
	header .nav-icon span:nth-of-type(3) {
	  top: 14px;
	}
	header .nav-icon span {
    width: 100%;
    height: 3px;
    /*background: rgb(93, 197, 31);*/
    background: #28e52c;
    position: absolute;
	}
	header .nav-icon {
	  cursor: pointer;
	  display: block;
	  z-index: 30;
	  width: 35px;
	  top:3px;
	  left:5px;
	  height: 20px;
	  position: relative;
	}
	.navsidebar {
		position: absolute;
		top:0px;
		left:0px;
		width: 56%;
		height:100vh;
		visibility: visible;
		opacity:1;
	}
	.navsidebar.on {
		visibility: visible;
		opacity:1;
		width:56%;
	}
	.navsidebar ul li {	
		background-color:#fff;
	}
	.navsidebar ul>li>a {
		line-height:150%;
		width:100%;
    font-size: 27px;
    letter-spacing: -1px;
		color:#000;
		display: inline-block;
    padding: 9px 0px 10px 10px;
	}
  
  
	.wrapper {
		width:100%;
		left:0;
		/*background-color: #1C1B1B;*/
		background-color: #fff;
		height:85vh;
		position: relative;
	}
	.bgfill {
		width:100%;
		bottom:0;
		height:0;
		position: absolute;
    z-index:1;
	}
	.bgfill.on {
		width:100%;
		height:100vh;
    background-color: rgba(94,3,163,1);
	}
	.wrapper.on {
		left:57%;
	}
	.wrapphone {
		width:100%;
		position: relative;
		margin:0 auto;
		background-color: #000;
	}
	#favcount,
	#cartcount {
    position: absolute; 
    text-align: center;
    line-height: 10px;
    font-size: 12px;
    background-color: rgba(255, 35, 26, 1.0);
    border-radius: 50%;
    color: #FFF;
    z-index: 100;
	}
	#favcount {
    left: 10px;
    top: 5px;
	}
	#cartcount {
    right: -2px;
    top: -3px;
	}
	#favcount.on,
	#cartcount.on {
		padding:2px;
    width:10px;
    height:10px;
	}
	.carticon {
		cursor:pointer;
	}
	#pagecontent.wrapper {
		padding-top:30px;
		height: 100vh;
	}
	header .floatleft {
		width:100%;
		float:none;
		margin-top: 3px;
    padding-bottom: 6px;
	}
	header .floatleft:nth-child(odd) {
		margin-right:10px;
	}
	#pagecontent .casebox img.thecaseimg {
		width:85%;
		height:auto;
    display: block;
    margin:20px auto 0px;
    border-radius:5px;
	}
	#pagecontent .floatholder {
		text-align:center;
		margin:0 auto;
		display:block;
		width:96%;
	}
	#pagecontent .floatleft.casebox {
		float:left;
		width:100%;
		display:block;
		border-radius:5px;
	}
	#pagecontent .floatleft.casebox:nth-child(odd) {
		margin-right:0px;
	}
	.clearfloats {
		clear:both;
	}
	/*#pagecontent .floatleft:nth-child(odd) {
		width:50%;
	}*/
	#loadericon {
		position: fixed;
		background-color: rgba(255, 255, 255, 0.9);
    top: 20px;
    padding-top:100px;
    width: 100%;
    height: 100%;
		text-align:center;
		display:none;
		z-index:1000;
	}
	.loaderInPopup {
		position: fixed;
		background-color: rgba(255, 255, 255, 0.9);
    top: 0px;
    padding-top:20%;
    left:0px;
    right:0px;
    width: 100%;
    height: 100%;
		text-align:center;
		display:none;
		z-index:1000;
	}
	.loaderwrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background-color: rgba(0, 0, 0, 0.9);
    color:#fff;
	}
	a.continue {
		margin: 20px auto 30px auto;
    text-align: center;
    padding: 10px 40px 10px 40px;
    border: solid 1px black;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: #000;
    background-color: #28e52c;
    border: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 3px 1px #383838;
    -moz-box-shadow: 0px 2px 3px 1px #383838;
    box-shadow: 0px 2px 3px 1px #383838;
	}
	a.continue:hover {
		background-color: rgba(93, 197, 31, .9);
	}
	a.continue:active {
    background-color: rgba(93, 197, 31, .9);
    -webkit-box-shadow: 0 5px #383838;
    -moz-box-shadow: 0 5px #383838;
    box-shadow: 0 5px #383838;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
	}
	.btnholder {
		width: 100%; margin: 0 auto;position: relative;text-align: center;
		padding:11px 0px 36px 0px;
	}
	.signupbar {
		position: fixed;
		bottom:0;
		width:100%;
		margin: 0 auto;
		background-color: #1C1B1B;
		padding:15px;
		text-align: center;
		z-index:1000;
		padding:15px 0px 15px 0px;
	}
	.signupbar a {
		color:#28e52c;
		letter-spacing:-1px;
	}
	.loginbox {
		width:90%;
		border:1px solid #28e52c;
		color:#28e52c;
		right:0;
		left:0;
		position: fixed;
		padding:20px 0px;
		top: 100%;
  	margin:0 auto;
  	text-align:center;
  	background-color:#000;
  	z-index:20;
  	display: block;
	}
	.loginbox.on {
		top: 50%;
  	transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
	}
	.overlay,
	.overlaybg {
		background-color: rgba(0, 0, 0, 0.8);
		position:fixed;
		top:0;
		width:100%;
		height:100vh;
		z-index:15;
		display: none;
	}
	.overlay.on,
	.overlaybg.on {
		display: block;
	}
	.contactfields {
    border-top: 0px;
    margin:0 auto;
    border-left: 0px;
    border-right: 0px;
    background: transparent;
    border-bottom: 1px solid #28e52c !important;
    letter-spacing: 1px;
    display: block;
    padding: 10px 0px 5px !important;
    margin-bottom: 8px !important;
    width: 80%;
    color: #28e52c;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    border-radius: 0;
    padding-bottom: 3px !important;
  }
  
  a.btn {
  	border:2px solid #000;
  	color:#000;
  	background-color: #28e52c;
  	padding:10px 30px;
  	width:80%;
  	display: inline-block;
  	margin:10px auto;
  }
  .signup {
  	display:none;
  }
  .closex {
  	position: absolute;
  	top:4px;
  	right:4px;
  	font-size:20px;
  	cursor:pointer;
  }
  .centertext {
  	text-align: center;
  	padding:14px 0px;
  }
  .signupblock {
  	display:none;
  }
  .loginerror {
  	width:80%;
  	margin:0 auto;
    display: block;
  }
  .loginerror.on {
  	padding: 15px 0px;
  }
  .heart {
  	position:absolute;
  	bottom:0px;
  	margin:0 auto;
  	left:0;
  	right:0;
  	width:84%;
  	border-bottom-left-radius: 5px;
  	border-bottom-right-radius: 5px;
  	display:none;
  	z-index: 13;
  	background-color: rgba(0, 0, 0, 0.1);
  	border-bottom:1px solid #000;
  	border-top:0px solid #000;
  	border-left:0px solid #000;
  	border-right:0px solid #000;
  }
  .favbox .heart,
  .cartbox .heart {
  	bottom:0px;
  	width:100%;
  	border-bottom-left-radius: 0px;
  	border-bottom-right-radius: 0px;
  	background-color: transparent;
  	border-bottom:1px solid #000;
  	border-top:0px solid #000;
  	border-left:0px solid #000;
  	border-right:0px solid #000;
  	font-size:20px;
  }
  .heart .floatleft {
  	float:left;
  	width:20%;
  	text-align:center;
  	cursor:pointer;
  	padding:5px;
  }
  .heart .floatright {
  	float:right;
  	width:20%;
  	text-align:center;
  	cursor:pointer;
  	padding:5px;
  	font-size:14px;
  }
   .heart .floatleft img,
   .heart .floatright img {
  	width:20px;
  	height: auto;
  }
  .heart.on {
  	display:block !important;
  }
  .casebox {
  	position:relative;
    /*margin-bottom: 10px;*/
    /*border-bottom: 15px solid #28e52c;*/
  	/*border-radius: 10px;
  	height:310px;*/
  }
  .addednotify {
  	width:110%;
  	height:110%;
  	position: fixed;
  	top:0;
  	bottom:0;
  	left:0;
  	right:0;
  	margin:0 auto;
  	/*background-color: rgba(40, 229, 44, 0.9);*/
  	background-color: #fff;
  	z-index:-1;
  	text-align: center;
  	top: 50%;
  	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    visibility: none;
    opacity:0;

  }
  .addednotify .msg {
		position: relative;
  	top: 50%;
  	font-size:18px;
  	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
  .addednotify.on {
  	width:80%;
  	height:20%;
  	visibility: visible;
    opacity:1;
    z-index:25;
  }
  header img.heartme {
  	width:28px;
  	height: auto;
  }
	.favbox .content,
  .cartbox .content,
  .checkoutbox .content {
		padding:30px;
		padding-bottom:80px;
  }
  .favbox,
  .cartbox,
  .choosephonebox {
  	width:100%;
  	height:100%;
  	position: fixed;
  	bottom:0;
  	top:0;
  	left:100%;
  	right:0;
  	margin:0 auto;
  	background-color: rgba(255,255,255, 1);
  	z-index:17;
  	text-align: center;
		/*top: 150%;*/  	
		/*transform: translateY(-50%);
    -webkit-transform: translateY(-50%);*/
    /*visibility: none;
    opacity:0;*/
    overflow:scroll;
  }
  .favbox.on,
  .cartbox.on,
  .choosephonebox.on {
  	visibility: visible;
    opacity:1;
    z-index:20;
    left:0;
  }
  .favboxclose,
  .cartboxclose,
  .choosephoneboxclose,
  .checkoutclose {
  	position: absolute;
  	top:4;
  	right:8;
  	color:#000;
  	cursor:pointer;
  }
  .closebox {
  	cursor:pointer;
  	position: absolute;
  	top:0;
  	height:20px;
  	width: 100%;
  }

  .favbox .casebox img.case,
  .cartbox .casebox img.case {
  	width:140px;
  	height: auto;
  }
  .noscroll {
  	overflow:hidden;
  }
  .favbox .content h1,
  .cartbox .content h1 {
  	font-size:24px;
  	margin-bottom:20px;
  }
  .favbox .casebox,
  .cartbox .casebox {
  	margin-bottom:15px;
  }
  a.checkoutbtn {
  	position: absolute;
  	width:100%;
  	bottom:0;
  	left:0;
  	right:0;
  	padding:14px 0px;
  	display: none;
  	z-index:20;
  	text-align:center;
  }
  a.checkoutbtn.on {
  	display: block;
  }
  a.paybtn {
  	position: relative;
  	width:100%;
  	padding:14px 0px;
  	z-index:22;
  	text-align:center;
  	display:inline-block;
  }
  a.paybtn.grey {
  	background-color:#ccc !important;
  }
  .checkoutbox {
  	position: absolute;
  	top:0;
  	left:100%;
  	width:100%;
  	background-color: #fff;
  	height:100%;
  	z-index:21;
  	overflow: scroll;
  }
  .checkoutbox.on {
  	left:0;
  }
  .lsvar {
  	position: absolute;
    bottom: 12px;
    color: #fff;
    border: 1px solid red;
  }
  .checkoutbox .contactfields {
    border-bottom: 1px solid #000 !important;
    color: #000;
    margin:0px;
    padding-bottom:0px;
    margin-bottom: 3px !important;
  }
  .checkoutbox .contactfields.exp {
    width:24px;
    display: inline;
  }
  .checkoutbox .contactfields.short {
    width:65px;
  }
  .checkoutbox .contactfields.citystate {
    width:120px;
    display: inline;
    margin-right:10px;
  }
  .checkoutbox .contactfields.inline {
    display: inline !important;
  }
	.checkoutbox .content h1 {
		font-size: 23px;
		display: block;
		margin-bottom:5px;
	}
	.checkoutbox .form span {
		margin-left:10px;
		font-size: 14px;
		display: inline;
		color:#B9B9B9;
	}

/* ----------END MOBILE  ---------- */



/* ----------START TABLET  ---------- */
	@media (min-width: 768px) {
		.navsidebar.on {
			width:40%;
		}
		header.on {
			left:40%;
		}
		.wrapper.on {
		left:40%;
	  }

	}
/* ----------END TABLET  ---------- */


/* ---------- GLOBAL FONTS  ---------- */
	body,
	a.continue {
		font-family: 'gothambook';
		-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
	.x {
		font-family: 'gothaml';
		-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}

/* ---------- GLOBAL VARS  ---------- */
	header .centeralign {
		text-align: center;
	}
	header .rightalign {
		text-align: right;
	}
	a.checkoutbtn,
	a.paybtn  {
		color:#fff;
	}
	.centertext a {
		color:#fff;
	}
	.navsidebar,
	.navsidebar ul>li>a,
	a.checkoutbtn {
		background-color: #28e52c;
	}
	a.paybtn {
		background-color: #FF5733;
	}

	header  {
		background-color: #000
	}
	a.continue,
	a.checkoutbtn,
	a.paybtn {
		text-transform: uppercase;
	}
	.navsidebar ul>li>a,
	.signupbar a,
	.centertext a,
	a.btn,
	a.checkoutbtn,
	a.paybtn {
		text-decoration: none;
	}
	header,
	.navsidebar ul li a,
	.navsidebar,
	.swiper-container,
	footer,
	a.btn,
	.loginbox,
	.heart .floatleft,
	.heart .floatright,
	.favbox,
	.cartbox,
	.loaderInPopup {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	header,
	.navsidebar,
	header .nav-icon span,
	.wrapper,
	.bgfill,
	.addtocart,
	.addednotify,
  .overlay
   {
		-o-transition: .2s;
	  -ms-transition: .2s;
	  -moz-transition: .2s;
	  -webkit-transition: .2s;
	  transition: .2s;
	}

	.cartbox,
	.favbox,
	.checkoutbox {
		-o-transition: .5s;
	  -ms-transition: .5s;
	  -moz-transition: .5s;
	  -webkit-transition: .5s;
	  transition: .5s;
	}
	.loginbox {
		-o-transition: .1s;
	  -ms-transition: .1s;
	  -moz-transition: .1s;
	  -webkit-transition: .1s;
	  transition: .1s;
	}
	@keyframes cartbtnFade {
  0% {
    opacity: 0;
    transform:translateY(-100%);
  }
  10% {
  	transform:translateY(-100%);

  }
  15% {
	  transform:translateY(0);
	}
	30% {
	  transform:translateY(-50%);
	  
	}
	40% {
	  	transform:translateY(0%);

	}
  100% {
    opacity: 1;
  }
}


@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.heart span, a.btn span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.heart span, a.btn span:nth-child(2) {
    animation-delay: .2s;
}

.heart span, a.btn span:nth-child(3) {
    animation-delay: .4s;
}

.contactfields {
	letter-spacing: 0px;
}

::-webkit-input-placeholder {
	   color: #28e52c;
	    opacity:1; 
		-webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		font-family: 'gothambook';

	}
:-moz-placeholder { /* Firefox 18- */
	    color: #28e52c;  
	      opacity:1; 
		  -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		 font-family: 'gothambook';

	}
	::-moz-placeholder {  /* Firefox 19+ */
	   color: #28e52c; 
	   opacity:1; 
	   -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		 font-family: 'gothambook';
	}
	:-ms-input-placeholder {  
	   color: #28e52c; 
	      opacity:1; 
		  -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		 font-family: 'gothambook';
	 
	}





	.checkoutbox ::-webkit-input-placeholder {
	   color: #A4A4A4;
	    opacity:1; 
		-webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		font-family: 'gothambook';
		font-size:12px;

	}
.checkoutbox :-moz-placeholder { /* Firefox 18- */
	    color: #A4A4A4;  
	      opacity:1; 
		  -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		 font-family: 'gothambook';
		 font-size:12px;

	}
	.checkoutbox ::-moz-placeholder {  /* Firefox 19+ */
	   color: #A4A4A4; 
	   opacity:1; 
	   -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		 font-family: 'gothambook';
		 font-size:12px;
	}
	.checkoutbox :-ms-input-placeholder {  
	   color: #A4A4A4; 
	      opacity:1; 
		  -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		 font-family: 'gothambook';
		 font-size:12px;
	 
	}

/* ----------START FONT FACE ---------- */

	@font-face {
		font-family: 'dommed';
		src: url('fonts/DomaineDispMedium.eot');
		src: url('fonts/DomaineDispMedium.eot?#iefix') format('embedded-opentype'),
			url('fonts/DomaineDispMedium.woff2') format('woff2'),
			url('fonts/DomaineDispMedium.woff') format('woff'),
			url('fonts/DomaineDispMedium.ttf') format('truetype'),
			url('fonts/DomaineDispMedium.svg#DomaineDispMedium') format('svg');
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
		font-family: 'dombold';
		src: url('fonts/DomaineDisp-Bold.eot');
		src: url('fonts/DomaineDisp-Bold.eot?#iefix') format('embedded-opentype'),
			url('fonts/DomaineDisp-Bold.woff2') format('woff2'),
			url('fonts/DomaineDisp-Bold.woff') format('woff'),
			url('fonts/DomaineDisp-Bold.ttf') format('truetype'),
			url('fonts/DomaineDisp-Bold.svg#DomaineDisp-Bold') format('svg');
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: 'domreg';
		src: url('fonts/DomaineDisp-Regular.eot');
		src: url('fonts/DomaineDisp-Regular.eot?#iefix') format('embedded-opentype'),
			url('fonts/DomaineDisp-Regular.woff2') format('woff2'),
			url('fonts/DomaineDisp-Regular.woff') format('woff'),
			url('fonts/DomaineDisp-Regular.ttf') format('truetype'),
			url('fonts/DomaineDisp-Regular.svg#DomaineDisp-Regular') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
  font-family: 'gothammed';
  src: url('fonts/gothammedium.eot');
  src: url('fonts/gothammedium.eot?#iefix') format('embedded-opentype'),
       url('fonts/gothammedium.woff') format('woff'),
       url('fonts/gothammedium.ttf') format('truetype'),
       url('fonts/gothammedium.svg#gothammedium') format('svg');
  font-weight: normal;
  font-style: normal;
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

}

@font-face {
  font-family: 'gothaml';
  src: url('fonts/gothamlight.eot');
  src: url('fonts/gothamlight.eot?#iefix') format('embedded-opentype'),
       url('fonts/gothamlight.woff') format('woff'),
       url('fonts/gothamlight.ttf') format('truetype'),
       url('fonts/gothamlight.svg#gothamlight') format('svg');
  font-weight: normal;
  font-style: normal;
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

}

@font-face {
  font-family: 'gothambook';
  src: url('fonts/gothambook.eot');
  src: url('fonts/gothambook.eot?#iefix') format('embedded-opentype'),
       url('fonts/gothambook.woff') format('woff'),
       url('fonts/gothambook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* ----------END FONT FACE ---------- */

/*------ SWIPER --------*/
.bgimage {
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}
.swiper-container {
	    width: 100%;
	    height: 100%;
	     -webkit-transition : border 500ms ease-out;
		  -moz-transition : border 500ms ease-out;
		  -o-transition : border 500ms ease-out;
		  transition : border 500ms ease-out;
    }
    .swiper-container.on {
   		/*border-top : 10px solid #E94E3D; */  
		}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#loader { 
	margin-top:44px;
	display: block; 
	background:#fff;
	z-index:99;
	position:fixed;
	width:100%;
	height:100% 
}	
#loader img {
	margin: auto;
	position: absolute;
 	top: 0; 
 	left: 0; 
 	bottom: 0; 
 	right: 0;
		}
